article {
  display: grid;
  grid-template-columns: min-content 1fr;
  column-gap: 1rem;
  border: solid 1px #ccc;
  border-radius: 5px;
  width: min-content;
  padding: 1rem;
  margin-bottom: 1rem;

  >div {
    display: grid;
    grid-template-columns: min-content 1fr;
    column-gap: 1rem;
    row-gap: 0.5rem;
    span {
      white-space: nowrap;
    }
  }
}

a {
  display: grid;
  grid-template-columns: min-content min-content;
  column-gap: 0.5rem;
  align-items: center;
  cursor: pointer;

  &:hover {
    opacity: 0.5;
  }
}
