.user-list {
  display: grid;
  row-gap: 1rem;

  section {
    display: grid;
    grid-template-columns: 64px repeat(3, 1fr) min-content min-content;
    column-gap: 1rem;
    align-items: center;

    &.action {
      a {
        font-size: 3rem;
      }
    }
  }
}

.pager {
  display: grid;
  grid-template-columns: 1fr min-content;
  column-gap: 1rem;
  align-items: center;
  justify-items: center;

  >div {
    display: grid;
    grid-template-columns: repeat(2, min-content);
    column-gap: 1rem;
    row-gap: 0.5rem;
  }

  span {
    white-space: nowrap;
  }

  a {
    font-size: 3rem;
    &.disabled {
      opacity: 0.2;
      pointer-events: none;
    }
  }
}

a {
  cursor: pointer;

  &:hover {
    opacity: 0.5;
  }
}
