table {  
    border-collapse: 0;
    border-spacing: 0;
    width: 100%;

    th, td {
        border-bottom: solid 1px grey;   
        text-align: left;     
    }
}

a {
    text-decoration: none;
}